
<div style="padding-left:500px;">
        <h1>Item Description</h1>
    <div class="row">
        <div class="panel-thumbnail">                                   
            <img width="450px;" height="450px;" class="img-fluid d-block" src="{{item.imageUrl}}" alt="{{item.description}}">
        </div>
        <div class="panel-thumbnail">
            <div><h3>{{item.shortDesc}}</h3></div>
            <div>{{item.description}}</div>
        </div>
      </div>  
      <br><a routerLink="/"><< Back To Top Trending List</a>
</div>